.tabs {
  display: flex;
  /* background-color: var(--background); */
  list-style: none;
  padding: 0;
  margin: 0;
  /* border-bottom: 4px solid #ccc; */
}

.tabs li {
  padding: 4px 11px 4px 11px;
  cursor: pointer;
  /* border: 1px solid transparent; */
  /* border-radius: 5px 5px 0 0; */
}

.tabs li:not(.active) {
  background-color: var(--color-secondary);
  /* border: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground); */
  /* font-weight: 300; */
}

.tab-content {
  border: 1px solid transparent;
  padding: 20px;
  height: 95dvh;
  overflow: scroll;
  padding-bottom: 30px;
}
