.result {
    background-color: #17191A;
    color: #BDBDBD;
    padding: 10px;
    margin: 1px auto;
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 800px;
    text-align: start;
    overflow-y: scroll;
    font-size: 0.875em;
}

.result::-webkit-scrollbar{
    display: none;
}

.result pre {
    white-space: pre-wrap; 
    word-break: break-word;
 }
