.result h1 {
    font-size: 1.4em;
    line-height: 1.1;
}

/* 
.result ul li::before {
    content: "● ";
}
.result ol li::before {
    content: "● ";
}  */


.result ol li {
    background-color: var(--color-primary-foreground);
    /* background-color: transparent; */
    padding-left: 30px;
}

.result ul li {
    padding-left: 30px;
    background-color: var(--color-primary-foreground);
    /* background-color: transparent; */
    background-color: transparent;
}

.result::-webkit-scrollbar {
    display: none;
}