.result {
    background-color: transparent;
    padding: 1px;
    margin: 1px auto;
    border-radius: 8px;
    width: 100%;
    max-height: 800px;
    text-align: start;
    overflow-y: scroll;
    font-size: 0.875em;
    border: 1px solid rgb(49, 49, 49);
    box-sizing: border-box;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-panel>pre {
    white-space: pre-wrap;
    word-break: break-word;
    line-height: normal;
}

.result-panel {
    background-color: var(--background);
    overflow: auto;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    margin: 1px;
    overflow-x: scroll;
}