.settings {
  padding: 6px;
  /* margin-top: 1px; */
  /* margin-left: auto; */
  /* width: 31%; */
  /* border: 1px solid rgb(49, 49, 49); */
  /* box-sizing: border-box; */
  user-select: none;
  width: 100%;
}

.setting-options {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}


.setting-options-switch-field {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  display: flex;
  position: relative;
}

.setting-options-switch-field input {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  left: 0;
  position: absolute !important;
  top: 0;
  width: 1px
}
.setting-options-switch-size label {
  background-color: #0000;
  border-radius: 8px;
  color: #6e6e80;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 8px;
  text-align: center;
  text-transform: capitalize;
  transition: all .15s ease-in-out
}

/* .setting-options-switch-size label:hover {
  color: #202123
} */

.setting-options-switch-size input:checked+label {
  background-color: var(--background);
  box-shadow: 0 1px 4px -1px #0003;
}