.search {
    background-color: #17191A;
    color: #BDBDBD;
    resize: none;
    overflow-y: hidden;
    min-height: 35px;
}
.search-icon {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
