.mic {
    position: relative;
}

.mic::before,
.mic::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 1;
}

.mic::before {
    width: 30px;
    height: 30px;
    background-color: var(--secondary);
    
}

.mic::after {
    width: 30px;
    height: 30px;
    background-color: var(--secondary);
    animation: circle-size 0.3s linear infinite alternate;
    
}

.mic-icon {
    position: relative;
    z-index: 2;
}

@keyframes circle-size {
    from {
        width: 30px;
        height: 30px;
    }

    to {
        width: 35px;
        height: 35px;
    }
}