.settings {
  background-color: var(--background-color);
  left: 83.2%;
  padding: 6px;
  margin: 2px;
  width: fit-content;

  border: 1px solid rgb(49, 49, 49);
  box-sizing: border-box;
}

.settings>ul {
  list-style-type: none;
  text-align: start;
}

.settings>ul>li {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 6px;
  cursor: pointer;
  user-select: none;
}

.settings>ul>li:hover {
  background-color: var(--background-secondary-color);
  border-radius: 8px;
}