.settings {
  background-color: var(--background-color);
  left: 80%;
  padding: 6px;
  margin-top: 1px;
  width: fit-content;

  border: 1px solid rgb(49, 49, 49);
  box-sizing: border-box;
}

/* .settings>ul {
  list-style-type: none;
  text-align: start;
}

.settings>ul>li {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 6px;
  cursor: pointer;
  user-select: none;
}

.settings>ul>li:hover {
  background-color: var(--background-secondary-color);
  border-radius: 8px;
} */

/* input[type="radio"]{
  display: none;
} */

.switch-field {
  background-color: var(--background-secondary-color);
  border: 2px solid var(--background-secondary-color);
  border-radius: 8px;
  display: flex;
  position: relative
}

.switch-orientation-horizontal {
  flex-direction: row
}

.switch-orientation-vertical {
  flex-direction: column
}

.switch-field input {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  left: 0;
  position: absolute !important;
  top: 0;
  width: 1px
}
.switch-theme-xsmall label {
  background-color: #0000;
  border-radius: 8px;
  color: #6e6e80;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 8px;
  text-align: center;
  text-transform: capitalize;
  transition: all .15s ease-in-out
}

.switch-theme-xsmall label:hover {
  color: #202123
}

.switch-theme-xsmall input:checked+label {
  background-color: var(--background-color);
  box-shadow: 0 1px 4px -1px #0003;
}

.theme-switcher {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between
}

.theme-switcher .theme-switcher-icon {
  display: flex;
  font-size: 15px
}
